.App {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.app-header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1em;
}

.app-menu {
    max-height: 50px;
    flex: 1;
}

.app-h1 {
    flex: 8;
}